.projetos {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: fit-content;
}

.projetos > * {
   margin: 0 50px 50px 0;
}

@media (max-width: 1000px) {
   .projetos > :last-child {
      margin-bottom: 0;
   }
}
