.technologyIcon {
   flex-direction: column !important;
   transition: transform 0.2s ease;
   align-items: center;
}

.technologyIcon img {
   width: 60px;
   height: 60px;
   margin: 0 15px 15px 0 !important;
   cursor: pointer;
}

.technologyIcon img:last-child {
   margin-right: 0;
}

.technologyIcon:hover,
.technologyIcon:focus {
   transform: scale(1.1);
}

.technologyIcon span {
   font-size: 15px !important;
   width: 75px;
   position: absolute;
   text-align: center;
   top: 65px;
   right: 7.5px;
}
