.contato {
   display: flex;
   flex-direction: row;
}

.linksContainer {
   display: flex;
   flex-wrap: wrap;
   align-content: space-between !important;
   max-width: 420px;
}

.contato img {
   width: 300px;
   height: 300px;
}

@media (max-width: 890px) {
   .contato {
      display: flex;
      flex-direction: column;
      width: 300px;
   }
}
