.contato {
   display: flex;
   flex-direction: row;
}

.linksContainer {
   display: flex;
   flex-wrap: wrap;
   align-content: space-between !important;
   width: 440px;
}

.contato img {
   width: 350px;
   height: 350px;
}

@media (max-width: 1065px) {
   .contato img {
      width: 300px;
      height: 300px;
   }
}