@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;900&display=swap');

:root {
   --gray1: #ebebeb;
   --gray2: #4c4c4c;
   --green1: #22a699;
   --green2: #1c8378;
}

* {
   margin: 0;
   border: 0;
   outline: 0;
   padding: 0;
   list-style: none;
   appearance: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Inconsolata', monospace;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   color: var(--gray2);
   font-size: 1.7rem;
   background-color: var(--gray1);
   display: flex;
   height: 100vh;
   width: 100vw;
   padding: 3.125%;
}

button {
   cursor: pointer;
}

h1 {
   color: var(--green1);
   font-size: 3rem;
   font-weight: 700;
}

h2 {
   font-size: 3rem;
   font-weight: 400;

}

h4 {
   font-size: 2rem;
   font-weight: 400;
}
