.sobre {
   display: flex;
   flex-direction: column;
}

.sobre > * {
   margin-bottom: 50px;
}

.sobre > :last-child {
   margin-bottom: 0;
}

.sobre div {
   display: flex;
   flex-direction: column;
}

.sobre div div {
   flex-direction: row;
   flex-wrap: wrap;
}

.sobre div span {
   font-size: 6rem;
   color: var(--green1);
   font-weight: 900;
   line-height: 80%;
   margin-bottom: 10px;
}

.sobre div span:last-child {
   font-size: 4rem;
   font-weight: 500;
   color: var(--gray2);
   margin: 0;
}

.sobre h4 {
   margin-bottom: 10px;
}

.sobre button {
   color: var(--gray1);
   background-color: var(--green1);
   padding: 10px;
   font-size: 2.5rem;
   font-weight: 500;
   width: fit-content;
   transition: 0.2s;
}

.sobre button:hover,
.sobre button:focus {
   background-color: var(--green2);
}

@media (max-width: 1256px) {
   .sobre div span:last-child {
      font-size: 3rem;
   }
}
