.section {
   height: fit-content;
   margin-left: 240px;
}

.section > :last-child {
   margin-bottom: 0 !important;
}

@media (max-width: 1080px) {
   .section {
      margin-left: 160px;
   }
}

@media (max-width: 550px) {
   .section {
      margin: 0 0 75px 0;
   }
}

@media (max-width: 400px) {
   .section {
      width: 300px !important;
   }
}
