.experience {
   display: flex;
   flex-direction: column;
   margin-bottom: 25px;
   transition: transform 0.2s ease;
   cursor: default;
   width: 405px;
}

.experience:first-child {
   margin-right: 100px;
}

.experience:hover,
.experience:focus {
   transform: translateY(-5px);
}

.experience span {
   font-size: 2.2rem;
}

.experience p {
   width: 405px;
}

.experience > * {
   margin-bottom: 5px;
}

.experience > :last-child {
   margin-bottom: 0;
}

@media (max-width: 1080px) {
   .experience:first-child {
      margin-right: 50px !important;
   }

   .experience:first-child {
      margin-right: 100px;
   }

   .experience,
   .experience p {
      width: 300px;
   }

   .experience span {
      font-size: 1.9rem;
   }
}

@media (max-width: 800px) {
   .experience:first-child {
      margin-right: 0 !important;
   }
}

@media (max-width: 550px) {
   .experience:last-child {
      margin-bottom: 0;
   }
}
