.experience {
   display: flex;
   flex-direction: column;
   margin-right: 100px;
   transition: transform 0.2s ease;
   cursor: default;
   width: 405px;
}

.experience:hover,
.experience:focus {
   transform: translateY(-5px);
}

.experience span {
   font-size: 2.2rem;
}

.experience p {
   width: 405px;
}

.experience > * {
   margin-bottom: 5px;
}

.experience > :last-child {
   margin-bottom: 0;
}

@media (max-width: 1224px) {
   .experience{
      margin-bottom: 25px;
   }
}