.experiencia {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.experiencia h4 {
   margin: 25px 0 !important;
}

.experiencia h4:first-child {
   margin-top: 0 !important;
}

.experiences {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.experiences:last-child {
   margin-bottom: 0;
}

.experiences > :last-child {
   margin-right: 0;
}
